{% extends 'base.html'%}
{% import "macros.html" as macro %}
{% block content %}

<div class="card m-5">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} d-flex align-items-center mt-4" role="alert">
  

      <div>
          {{ message }}
      </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>

<div class="text-center">
    <h3 style="color: #fff;" >PERSONAL BLOGS</h3>
    <div class="row">
  <ul>
    {{macro.display_post(Personal_blogs)}}
  </ul>
  </div>
  </div>

  <div class="text-center">
    <h3 style="color: #fff;" >CORPORATE BLOGS</h3>
    <div class="row">
  <ul>
    {{macro.display_post(corporate_blogs )}}
  </ul>
  </div>
  </div>

  <div class="text-center">
    <h3 style="color: #fff;" >FASHION BLOGS</h3>
    <div class="row">
  <ul>
    {{macro.display_post(Fashion_blogs )}}
  </ul>
  </div>
  </div>


  <div class="text-center">
    <h3 style="color:#fff;" >LIFESTYLE BLOGS </h3>
    <div class="row">
  <ul>
    {{macro.display_post(Lifestyle_blogs )}}
  </ul>
  </div>
  </div>
    
  <div class="text-center">
    <h3 style="color: #fff;" >TRAVEL BLOGS </h3>
    <div class="row">
  <ul>
    {{macro.display_post(Travel_blogs )}}
  </ul>
  </div>
  </div>


{% endblock %}