{% extends 'base.html'%}
{% import "macros.html" as macro %}
{% block content %}

<div class="card m-5">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} d-flex align-items-center mt-4" role="alert">
  

      <div>
          {{ message }}
      </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>


<div class="new">
    <div>
<h1 class="header">Broadcast Your Voice with the Best Blog Builders</h1>
 <p class="text"> Build a blog yourself with no technical skills required, or have a designer help bring your vision to life. <br> Launch your professional, customized blog within hours.</p>
</div>
 <img class="img-fluid img" src="../static/photos/new-removebg-preview.png" alt="">
</div>

<style>
.header{
     font-size: 4rem;
    color: aliceblue;
    margin-left: 2rem;
}
.text{
    color: aliceblue;
    margin-left: 2rem;
}
.new{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
}
.img{
    margin-bottom: 3rem;
}

</style>



{% endblock %}